* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

div[style*="loadingDots"] span:nth-child(1) {
  animation: blink 1.4s infinite;
  animation-delay: 0s;
}

div[style*="loadingDots"] span:nth-child(2) {
  animation: blink 1.4s infinite;
  animation-delay: 0.2s;
}

div[style*="loadingDots"] span:nth-child(3) {
  animation: blink 1.4s infinite;
  animation-delay: 0.4s;
}
